{% extends "base.html" %}
{% block body %}

<script src="https://js.stripe.com/v3/"></script>

<script>
    window.toggle_nav("accounts_link");
</script>

<script>
    $(function () {
        var stripe = Stripe('{{ g.stripe_token }}');
        var elements = stripe.elements();

        var style = {
            base: {
                fontSize: '16px',
                lineHeight: '24px'
            }
        };

        var card = elements.create('card', {style: style});
        card.mount('#card-element');

        var form = document.getElementById('subscription_form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            if($("#subscription_type").val() == "freeby"){
                form.submit();
            }else{
                stripe.createToken(card).then(function (result) {
                    if (result.error) {
                        // Inform the user if there was an error
                        var errorElement = document.getElementById('card-errors');
                        errorElement.textContent = result.error.message;
                    } else {
                        // Send the token to your server
                        var form = document.getElementById('subscription_form');
                        var hiddenInput = document.createElement('input');
                        hiddenInput.setAttribute('type', 'hidden');
                        hiddenInput.setAttribute('name', 'stripeToken');
                        hiddenInput.setAttribute('value', result.token.id);
                        form.appendChild(hiddenInput);
                        form.submit();
                    }
                });
            }

        });

        function update_subscription_type(){
            if ($("#subscription_type").val() == "freeby"){
                $("#cc_form").hide();
            }else{
                $("#cc_form").show();
            }
        }

        $("#subscription_type").change(function(){
            update_subscription_type()
        });

        $("#subscription_type").val("{{account.subscription_type}}");
        update_subscription_type();
    })
</script>

<div class="lowernav">
    <div class="lowernav_title">
        <i class="fa fa-user"></i> Account Settings
    </div>
</div>

<div class="mui-container-fluid">
    <div class="mui-row">
        <div class="mui-col-md-8">
            <div class="mui-panel">
                <form method="post">
                    <legend>Settings</legend>
                    <div class="mui-textfield">
                        <input type="text" name="username" placeholder="Username" disabled
                               value="{{ account.username }}">
                    </div>
                    <div class="mui-textfield">
                        <input type="email" name="email_address" placeholder="" value="{{ account.email_address }}">
                    </div>
                    <div class="mui-textfield">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="mui-textfield">
                        <input type="password" name="password2" placeholder="Password">
                    </div>
                    <button type="submit" class="mui-btn mui-btn--raised">Save</button>
                </form>
            </div>

            <div class="mui-panel">
                <form method="post" id="subscription_form" action="/account/subscription">
                    <legend>Subscription</legend>

                    <div>
                        <div>Subscription Type: {{account.subscription_type}}</div>
                        {% if account.subscription_type == 'freeby' %}
                        <div>You are currently using a free account. To unlock your Couchdrop Account and support our
                            development, upgrade your account.
                        </div>
                        {% endif %}

                        {% if account.subscription_type != 'freeby' %}
                        <div>Subscription Status: {{account.subscription_status}}</div>
                        {% endif %}
                    </div>

                    <br>

                    <h4>Modify Subscription</h4>
                    <br>
                    <div class="mui-select">
                        <select name="subscription_type" id="subscription_type">
                            <option value="freeby">Freeby + $0.00 per month</option>
                            <option value="couchdrop_standard">Couchdrop Standard + $5.99 per month</option>
                            <option value="couchdrop_premium">Couchdrop Premium + $25.00 per month</option>
                        </select>
                        <label>Subscription Type</label>
                    </div>

                    <div id="cc_form" class="form-row">
                        <label for="card-element">
                            Credit or debit card
                        </label>
                        <div id="card-element">
                            <!-- a Stripe Element will be inserted here. -->
                        </div>

                        <!-- Used to display Element errors -->
                        <div id="card-errors" role="alert"></div>
                    </div>

                    <br>
                    <button type="submit" class="mui-btn mui-btn--raised">Update Subscription</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}