{% extends "base.html" %}
{% block body %}
<script>
    window.toggle_nav("credentials_link");
</script>

<script>
    $(function () {
        $("#add_button").click(function () {
            window.location = "/credentials/create";
        });
    });
</script>

<div class="body-container">
    <div class="mui-row">
        <div class="mui-col-md-11 ">
            <div class="mui-panel" style="margin-bottom:25px;">
                <span class="mui--text-body1" style="line-height:2px !important;">You can create temporary accounts with Write only access to your CouchDrop Server. These credentials are
                perfect for giving out to friends or for use on servers that may not be secure.
                    </span>
            </div>
            <h2><i class="fa fa-key"></i> Upload Credentials
                <button id="add_button" style="float:right;" class="mui-btn mui-btn--primary mui-btn--fab">+</button>
            </h2>

            <hr>
            <table class="mui-table mui-table--bordered">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in credentials %}
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.password}}</td>
                    <td><a href="/credentials/{{user.username}}/delete">Delete</a></td>
                    <td></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}