{% extends "base.html" %}
{% block body %}
<script>
    window.toggle_nav("credentials_link");
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

<style>
    .mui-textfield {
        padding-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .mui-select {
        padding-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .hide_long_string {
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div ng-app="Credentials">
    <div ng-controller="Main as main">
        <div class="lowernav">
            <div class="lowernav_title">
                <i class="fa fa-key"></i> Authentication Keys
            </div>
        </div>
        <div class="mui-container-fluid">
            <div class="mui-row">
                <div class="mui-col-md-8">
                    <div class="lowernav_description">
                        Here you can manage accounts and permissions that each account gets. By default, the account
                        that you signed up for Couchdrop with will have access
                        to all your buckets, but you can also create subaccounts that have restricted access if desired.
                    </div>
                    <hr>

                    <legend style="padding-left: 5px;">
                        Users
                        <div class="right">
                            <a href="#" id="add_button" class="mui-btn mui-btn--small mui-btn--raised"
                               ng-click="main.add_user()">
                                Add Account
                            </a>
                        </div>
                    </legend>
                    <form ng-submit="main.save()">
                        <table class="mui-table mui-table--bordered">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Public Key</th>
                                <th>Permissions</th>
                                <th>Storage</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-show="main.account">
                                <td>
                                    <div ng-bind="main.account.username"></div>
                                </td>
                                <td>
                                    <div><a href="/account">Change here</a></div>
                                </td>
                                <td>
                                    <div class="hide_long_string" ng-show="!main.account.editing"
                                         ng-bind="main.account.endpoint__valid_public_key"></div>

                                    <div ng-show="main.account.editing" class="mui-textfield">
                                        <input type="text" ng-model="main.account.endpoint__valid_public_key"/>
                                    </div>
                                </td>
                                <td>
                                    Read/Write
                                </td>
                                <td>
                                    /
                                </td>
                                <td>
                                    <a href="#" ng-show="main.account.editing"
                                       ng-click="main.save_main_rsa_key()">Save</a>
                                    <a href="#" ng-show="!main.account.editing"
                                       ng-click="main.edit_main_rsa_key()">Edit</a>
                                </td>
                            </tr>

                            <tr ng-repeat="credential in main.credentials">
                                <td>
                                    <div ng-bind="credential.username"></div>
                                </td>
                                <td>
                                    <div ng-show="!credential.editing" ng-bind="credential.password"></div>
                                    <div ng-show="credential.editing" class="mui-textfield">
                                        <input type="password" ng-model="credential.password"/>
                                    </div>
                                </td>
                                <td>
                                    <div ng-show="!credential.editing" ng-bind="credential.public_key"></div>
                                    <div ng-show="credential.editing" class="mui-textfield">
                                        <input type="text" ng-model="credential.public_key"/>
                                    </div>
                                </td>
                                <td>
                                    <div ng-show="!credential.editing"
                                         ng-bind="credential.permissions_mode_string"></div>
                                    <div ng-show="credential.editing" class="mui-select">
                                        <select ng-model="credential.permissions_mode">
                                            <option value="r">Read</option>
                                            <option value="w">Write</option>
                                            <option value="rw">Read/Write</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div ng-show="!credential.editing" ng-bind="credential.permissions_path"></div>
                                    <div ng-show="credential.editing" class="mui-textfield">
                                        <input type="text" ng-model="credential.permissions_path"/>
                                    </div>
                                </td>
                                <td>
                                    <a href="#" ng-click="main.del_user(credential.username)">Delete</a> |
                                    <a href="#" ng-show="credential.editing" ng-click="main.save(credential.username)">Save</a>
                                    <a href="#" ng-show="!credential.editing" ng-click="main.edit(credential.username)">Edit</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    angular.module("Credentials", []).controller("Main", ["$http", function ($http) {
        var self = this;
        self.credentials = [];
        self.account = undefined;

        self.edit = function (username) {
            for (var cred of self.credentials) {
                if (cred.username == username) {
                    cred.editing = true;
                } else {
                    cred.editing = false;
                }
            }
        };

        self.save = function (username) {
            for (var cred of self.credentials) {
                if (cred.username == username) {
                    cred.editing = false;

                    $http.post("/ajax/credentials", cred).then(function (response) {
                        get_all_buckets();
                    });
                }
            }
        };

        self.add_user = function () {
            $http.put("/ajax/credentials", {}).then(function (response) {
                get_all_buckets();
            });
        };

        self.del_user = function (username) {
            $http.get("/credentials/" + username + "/delete").then(function (response) {
                get_all_buckets();
            });
        };

        self.save_main_rsa_key = function () {
            self.account.editing = false;

            $http.post("/ajax/credentials/rsakey", self.account).then(function (response) {
                get_all_buckets();
            });
        };

        self.edit_main_rsa_key = function () {
            self.account.editing = true;
        };

        var get_all_buckets = function () {
            return $http.get("/ajax/credentials").then(
                    function (response) {
                        self.credentials = response.data.credentials;
                        for (var cred of self.credentials) {
                            if (cred.permissions_mode == "r") {
                                cred.permissions_mode_string = "Read"
                            }
                            if (cred.permissions_mode == "w") {
                                cred.permissions_mode_string = "Write"
                            }
                            if (cred.permissions_mode == "rw") {
                                cred.permissions_mode_string = "Read/Write"
                            }
                        }

                        self.account = response.data.account;
                    }, function (err) {
                        console.log("err")
                    }
            )
        };

        get_all_buckets();
    }]);

</script>
{% endblock %}