{% extends "base.html" %}
{% block body %}
<script>
    window.toggle_nav("home_link");
</script>

<div class="lowernav">
    <div class="lowernav_title">
        <i class="fa fa-bar-chart"></i> Couchdrop Dashboard
    </div>
</div>

<div class="mui-container-fluid">
    {% if buckets | length == 0 %}
    <div class="mui-row">
        <div class="mui-col-md-11">
            <div class="mui-panel">
                It looks like you have no storage buckets configured. Before you can use Couchdrop you need to link
                your
                S3 or Dropbox account.
                <br>
                <br>
                <a href="/buckets" class="mui-btn mui-btn--raised">Configure Storage</a>
            </div>
        </div>
    </div>
    {% endif %}

    {% if audit | length > 0 %}
    <div class="mui-row">
        <div class="mui-col-md-11 ">
            <div class="mui-row">
                <div class="mui-col-md-4 infobox">
                    <div class="metric">{{ audit | length}}</div>
                    <div class="desc">Files Operations</div>
                </div>
                <div class="mui-col-md-4 infobox">
                    <div class="metric">{{ credentials | length + 1}}</div>
                    <div class="desc">User Account/Keysets</div>
                </div>
                <div class="mui-col-md-4">
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="mui-row">
        <div class="mui-col-md-11 ">
            <h3><i class="fa fa-bars"></i> Logs and Activity</h3>
            <hr>

            {% if audit | length == 0 %}
            <div class="mui-panel">
                You have not yet uploaded any files yet.
                <br>
                <br>
                <a href="https://couchdrophelp.zendesk.com/hc/en-us/sections/115002077187-Using-Couchdrop"
                   class="mui-btn mui-btn--raised">Learn about uploading</a>
            </div>
            {% endif %}

            {% if audit | length > 0 %}
            <table class="mui-table mui-table--bordered">
                <thead>
                <tr>
                    <th>File</th>
                    <th>Event</th>
                    <th>Storage</th>
                    <th>Time</th>
                    <th>Account</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in audit %}
                <tr>
                    <td>
                        <a href="/download/{{entry.id}}">
                            {{entry.filename}}
                        </a>
                    </td>
                    <td>
                        {% if entry.storage_engine == "email" %}
                        <div class="upload"><i class="fa fa-envelope" aria-hidden="true"></i> file emailed</div>
                        {% else %}
                        {%if entry.event_type == "upload" and not entry.success %}
                        <div class="upload" title="{{entry.additional_info}}"><i class="fa fa-upload failed" aria-hidden="true"></i> upload attempted</div>
                        {%endif%}
                        {%if entry.event_type == "upload" and entry.success %}
                        <div class="upload" title="{{entry.additional_info}}"><i class="fa fa-upload" aria-hidden="true"></i> uploaded</div>
                        {%endif%}
                        {%if entry.event_type == "download" and not entry.success%}
                        <div class="download" title="{{entry.additional_info}}"><i class="fa fa-download failed" aria-hidden="true"></i> download attempted</div>
                        {%endif%}
                        {%if entry.event_type == "download" and entry.success%}
                        <div class="download" title="{{entry.additional_info}}"><i class="fa fa-download" aria-hidden="true"></i> downloaded</div>
                        {%endif%}
                        {%endif%}

                    </td>
                    <td>
                        <div class="storage_engine">
                            {% if entry.storage_engine == "googledrive" %}
                            <i class="fa fa-google" aria-hidden="true"></i>
                            {%endif%}
                            {% if entry.storage_engine == "dropbox" %}
                            <i class="fa fa-dropbox" aria-hidden="true"></i>
                            {%endif%}
                            {% if entry.storage_engine == "hosted" %}
                            <i class="fa fa-hdd" aria-hidden="true"></i>
                            {%endif%}
                            {% if entry.storage_engine == "s3" %}
                            <i class="fa fa-amazon" aria-hidden="true"></i>
                            {%endif%}
                            {% if entry.storage_engine == "webdav" %}
                            <i class="fa fa-cloud" aria-hidden="true"></i>
                            {%endif%}
                            {% if entry.storage_engine == "email" %}
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            {%endif%}
                        </div>
                    </td>
                    <td>{{entry.time}}</td>
                    <td>{{entry.uploader}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {%endif%}
        </div>
    </div>
</div>
</div>
{% endblock %}