{% extends "login.html" %}
{% block body %}
<div class="mui-col-md-4 mui-col-sm-offset-6">
    <h3>Reset Password</h3>

    <hr>
    <form action="/resetpassword" method="POST">
        <div>To reset your password, please enter the email address registered with your account.</div>
        <div class="mui-textfield">
            <input type="email" name="real_email_address" placeholder="Email Address">
        </div>
        <div class="g-recaptcha" data-sitekey="6LebbikUAAAAAC0o-oyYtxT8plw3k0EQINZdsuG5"></div>
        <button type="submit" class="mui-btn mui-btn--raised">Reset Password</button>
    </form>
</div>
{%endblock%}}