<!DOCTYPE html>
<html>
<head>
    <title>CouchDrop</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename='libs/base.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.migrate.js') }}"></script>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/style.css') }}">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.6.0/css/mui.min.css" rel="stylesheet" type="text/css"/>
    <script src="//cdn.muicss.com/mui-0.6.0/js/mui.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
<style>
    body {
        background: whitesmoke;
    }

    .container {
        margin-top:100px;
    }

    #register_form {
        display:none;
    }
</style>

<script>
    window.open_register = function(){
        $("#login_form").hide();
        $("#register_form").show();
    };

    window.open_login = function(){
        $("#login_form").show();
        $("#register_form").hide();
    };
</script>
<div class="container">
    <div class="mui-panel mui-col-md-4 mui-col-sm-offset-4">
        <legend>
            <img style="max-height: 40px;" src="{{ url_for('static', filename='images/couchdroplogo.png') }}"/>
            couchdrop.io
        </legend>

        <form id="login_form" action="/login" method="POST">

            <div class="mui-textfield">
                <input type="text" name="email" placeholder="Username">
            </div>
            <div class="mui-textfield">
                <input type="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="mui-btn mui-btn--raised">Login</button>

            <hr>
            <div>Don't have an account with CouchDrop yet? Signup <a onclick="window.open_register();" href="#">here</a></div>
        </form>

        <form id="register_form" action="/register" method="POST">
            <br>
            <div>Don't have an account with CouchDrop yet? You can quickly register by creating an account below. </div>

            <br>
            <div class="mui-textfield">
                <input type="text" name="email" placeholder="Username">
            </div>
            <div class="mui-textfield">
                <input type="email" name="real_email_address" placeholder="Email Address">
            </div>
            <div class="mui-textfield">
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="mui-textfield">
                <input type="password" name="password" placeholder="Re Password">
            </div>
            <button type="submit" class="mui-btn mui-btn--raised">Signup Now</button>
        </form>
    </div>
</div>
</body>
</html>