{% extends "base.html" %}
{% block body %}
<script>
    window.toggle_nav("upload_link");
</script>

<div class="body-container">
    <div class="mui-col-md-11">
        <h2><i class="fa fa-upload"></i>Upload</h2>
        <hr>
        <div class="mui-panel">
            <div>
                Uploading files to Couchdrop is done using the SCP command included with almost every variant of
                Unix/Linux
                and sometimes Windows.
            </div>
            <br>
            <div style="background: #f8f8f8; color:black; font-weight: bolder;; padding:20px;">
                #> scp filename username@ssh.couchdrop.io:
            </div>

            <br>
            <div>
                You can use your standard CouchDrop.io account or create temporary credentials for added security. These
                credentials
                can be shared with friends or customers or be used on insecure servers with no risk.
            </div>
        </div>
    </div>
</div>

{% endblock %}