#sidebar-container {
    width: 85px;
    float: left;
    height: 100%;
    background-color: #333;
    position: fixed;
    min-height: 600px;
    overflow: visible;
    z-index: 300;
}

.main-menu-item.p {
    position: relative;
    background-color: #1DB0D5;
    color: #000;
    border-right: 1px solid #1DB0D5;
    border-bottom: none;
    width: 85px;
    height: 65px;
    font-size: 36px;
    padding-top: 8px;
}

.main-menu-item, a.main-menu-item {
    border-bottom: 1px solid #444;
    border-top: 0 solid #fff;
    color: #999;
    display: block;
    font-size: 15px;
    height: 64px;
    line-height: 43px;
    overflow: visible;
    position: relative;
    text-align: center;
    width: 85px;
    padding-top: 18px;
    text-decoration: none;
}

.main-menu-item-branding {
    position: relative;
    background-color: #1DB0D5;
    color: #000;
    border-right: 1px solid #1DB0D5;
    border-bottom: none;
    width: 85px;
    height: 65px;
    font-size: 36px;
    padding-top: 8px;
}

.main-menu-item-branding, a.main-menu-item-branding {
    border-bottom: 1px solid #444;
    border-top: 0 solid #fff;
    color: #999;
    display: block;
    font-size: 15px;
    height: 64px;
    line-height: 43px;
    overflow: visible;
    position: relative;
    text-align: center;
    width: 85px;
    text-decoration: none;
}

a.main-menu-item:hover {
    background: #4c4c4c;
    color: white;
    text-decoration: none;
}

.selected {
    background: #4c4c4c !important;
    color: white !important;
}

.main-menu-item > i {
    display: block;
    margin-bottom: 7px;
}

.main-menu-item > span {
    display: block;
    font-size: 12px;
    line-height: .5;
    text-align: center;
    width: 100%;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: courier;
}

.topbar-container {
    background: #F7F7F7;
    border-bottom: 1px solid #E6E6E6;
    border-left: 1px solid #e6e6e6;
    bottom: 0;
    color: #383838;
    font-size: 22px;
    height: 65px;
    left: 0;
    line-height: 65px;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 22px;
    position: fixed;
    right: 0;
    top: 0;
    width: auto;
    z-index: 1000;
    margin: 0 0 0 84px;
}

.body-container {
    bottom: 0;
    left: 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 22px;
    position: relative;
    top: 82px;
    width: auto;
    z-index: 102;
    margin: 0 0 0 84px;
    right: 20px;
}

.plans {
    display: table;
    padding-top: 50px;
}

.plan {
    display: table-cell;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 400px;

    padding-left:20px;
    padding-right:20px;
}

.plan_freeby {
    border: solid 1px #d8d8d8;

}

.plan_standard {
    border-style: solid;
    border-width: 1px;
    border-color: #b6efff;
    margin-bottom: 1.25rem;
    background: #ecfaff;
}

.plan_gold {
    border-style: solid;
    border-width: 1px;

    margin-bottom: 1.25rem;
    background-color: #fcf8e3;
    border-color: #faf2cc;
}

.plan_title {
    text-align: center;
}

.plan_details {

}
.plan_price {
    text-align: center;
}

.plan_row {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 23px;
}

.plan_title {

}

.plan_change {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-top: 20px;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: Courier !important;
}

body {
    font-family: "Avenir Next W01", "Avenir Next", "Neue Helvetica W01", "Helvetica Neue", Helvetica, sans-serif !important;
}

legend {
    font-family: Courier !important;
}